# Deployer
PRIVATE_KEY=
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
SEPOLIA_RPC_URL_FALLBACK=https://rpc.ankr.com/eth_sepolia
SEPOLIA_RPC_URL_TERTIARY=
ETHERSCAN_API_KEY=

# Deployed on Sepolia
GHOST_TOKEN_ADDRESS=0xB9431b3be9a56a1eeA8E728326332f8B4dD51382
GHOSTFUND_VAULT_ADDRESS=0x4964991514f731CB3CF252108dFF889d30036fcb
POLICY_ENGINE_ADDRESS=0x73247d30cb15eF7884D8f8992D7D1692c7f6a1E4
ALLOW_POLICY_ADDRESS=0xB9fa55C5f14Fac82e6b9133284bE9EF912dbA33e
MAX_POLICY_ADDRESS=0xfD46dE36745402238826672af2132e59f1caDbBA
PAUSE_POLICY_ADDRESS=0x9A9a6BB879F51A89A340305d1fFf92A0873A938f
KEYSTONE_FORWARDER=
WORKFLOW_OWNER=
PT_VAULT_ADDRESS=0xE588a6c73933BFD66Af9b4A07d48bcE59c0D2d13
AAVE_POOL=0x6Ae43d3271ff6888e7Fc43Fd7321a503ff738951
AAVE_FAUCET=0xC959483DBa39aa9E78757139af0e9a2EDEb3f42D
# Optional: defaults to GHOST_TOKEN_ADDRESS
AAVE_TEST_TOKEN=

# Demo wallets
ALICE_PRIVATE_KEY=
ALICE_ADDRESS=
BOB_PRIVATE_KEY=
BOB_ADDRESS=
CHARLIE_PRIVATE_KEY=
CHARLIE_ADDRESS=
