# Deployer
PRIVATE_KEY=0xYOUR_PRIVATE_KEY_HERE
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY_HERE
ETHERSCAN_API_KEY=

# Deployed contracts (fill after deploy)
GHOST_TOKEN_ADDRESS=0xB9431b3be9a56a1eeA8E728326332f8B4dD51382
GHOSTFUND_VAULT_ADDRESS=0x4964991514f731CB3CF252108dFF889d30036fcb
POLICY_ENGINE_ADDRESS=0x73247d30cb15eF7884D8f8992D7D1692c7f6a1E4
ALLOW_POLICY_ADDRESS=0xB9fa55C5f14Fac82e6b9133284bE9EF912dbA33e
MAX_POLICY_ADDRESS=0xfD46dE36745402238826672af2132e59f1caDbBA
PAUSE_POLICY_ADDRESS=0x9A9a6BB879F51A89A340305d1fFf92A0873A938f
KEYSTONE_FORWARDER=0xYOUR_FORWARDER_OR_DEPLOYER_ADDRESS

# Demo wallets (generate your own or use these for Sepolia testing)
ALICE_PRIVATE_KEY=0xYOUR_ALICE_KEY
ALICE_ADDRESS=0xYOUR_ALICE_ADDRESS
BOB_PRIVATE_KEY=0xYOUR_BOB_KEY
BOB_ADDRESS=0xYOUR_BOB_ADDRESS
CHARLIE_PRIVATE_KEY=0xYOUR_CHARLIE_KEY
CHARLIE_ADDRESS=0xYOUR_CHARLIE_ADDRESS
WORKFLOW_OWNER=0xYOUR_WORKFLOW_OWNER
SEPOLIA_RPC_URL_FALLBACK=https://rpc.ankr.com/eth_sepolia
SEPOLIA_RPC_URL_TERTIARY=
AAVE_TEST_TOKEN=0xf8Fb3713D459D7C1018BD0A49D19b4C44290EBE5
PT_VAULT_ADDRESS=0xE588a6c73933BFD66Af9b4A07d48bcE59c0D2d13
DEPOSIT_EXTRACTOR_ADDRESS=0x15fb3265fefc1cB42A2c990DED55fb3a448689d4
