# Secrets
.env
*.env.bak
secrets.yaml

# Foundry
contracts/out/
contracts/cache/
contracts/lib/

# Node
node_modules/
workflow/workflow/node_modules/

# OS
.DS_Store
workflow/workflow/.cre_build_tmp.*
